/*
<link rel="stylesheet" type="text/css" href="DennisGlobalCSSFIXER.css">

<div class="center-wrapper" style="width: 512px;">
</div>
*/

input[type=submit] {
    /*background-color: rgba(0, 136, 175, 1);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;*/
    font-size: 20px;
    color: white;
    border: solid 1px purple;
    padding: 8px;
    background-color: purple;
    float:right;
    border-radius: 4px;
    font-family:FIFA16;
}

input[type=submit]:hover {
    /*background-color: #2389a0;*/
    color: purple;
    border: solid 1px purple;
    background-color: white;
    font-family:FIFA16;
}
input[type=text], input[type=email], select, textarea {
    border: 2px solid rgba(0, 0, 0, 0.56);
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 16px;
    font-family:FIFA16;
}
.center-wrapper{
    width: 50%;
    min-width: 512px;
    margin: 0 auto;
    background-color: rgba(221, 221, 221, 0.15);
    padding: 20px;
    border-radius: 2px;
    border-style: dashed;
    font-family:FIFA16;
}