/* Import fonts */
@font-face {
  font-family: FIFA16;
  src: url(EASPORTS15.ttf);
}

* {
    box-sizing: border-box;
}
body{
  background-image: url(blue.png);
  background-repeat: repeat;
  margin: 0;
}

/* Header div */
header{
  background-color: yellow; /* white */
  height: 64px;
  width: 100%;
  display: block;
}
@media only screen and (max-width: 600px) {
	header{
	  height: 200px;
	}
}

.headerButtonWrapper{
	width: auto;
	height: 100%;
	float: right;
	background-color: green;
}

/* Footer */
footer{
  background-color: #0D2D5B;
  color: white;
  height: 75px;
  width: 100%;
  text-align: center;
  font-family: Arial, "sans-serif";
  padding: 20px;
}

/* Menu button */
.menuButton {
	display: inline-block;
    background-color: white;
    overflow: hidden;
    height: 64px;
	width: auto;
    position: sticky;
}
.menuButton a{
  float: left;
  text-align: center;
  padding: 16px;
  font-size: 18px;
  text-decoration: none;
  font-family: FIFA16;
  color: #0D2D5B;
}
.menuButton>a:hover {
	background-color: #000000;
	color: white;
}

/* Blue maakt witte tekst */
.blue{
  background-color: #0D2D5B;
  height: 175px;
  font-size: 50px;
  font-family: FIFA16;
  letter-spacing: 15px;
  color: white;
  padding: 30px;
  width: 100%;
}
