/* Import fonts */
@font-face {
  font-family: FIFA16;
  src: url("EA Sports Covers SC 1.5.ttf");
}
* {
    box-sizing: border-box;
}
body{
  color:white;
  font-family:FIFA16;
  background-image: url(images/blue.png);
  background-repeat: repeat;
  margin: 0;
}

/* Header div */
.header{
  background-color: white; /* white */
  height: 60px;
    min-width: 400px;
  width: 100%;
  display: inline-block;
}

@media only screen and (max-width: 800px), (-moz-touch-enabled: 1), (pointer:coarse) {
    .header{
        height: 10vh;
        max-height: 10vh;
    }
}

.headerRightDiv{
	width: auto;
	height: 60px;
	float: right;
	background-color: white; /* white */
}
@media only screen and (max-width: 800px), (-moz-touch-enabled: 1), (pointer:coarse) {
    .headerRightDiv{
        height: auto;
    }
}

/* Footer */
.footer{
  background-color: #0D2D5B;
  color: white;
  height: 96px;
  width: 100%;
  text-align: center;
  font-family:FIFA16;
  padding: 20px;
  min-width: 400px
}
@media only screen and (max-width: 800px), (-moz-touch-enabled: 1), (pointer:coarse) {
    .footer{
        height: auto;
        font-size: 22px;
    }
}

.buttonBanner{
    width: 100%;
    height: auto;
    background-color: white;
}

.menuWrapper {
    width: 100%;
    background-color: white;
    display: inline-block;
    overflow: visible;
    position: sticky;
    top: 0;
}

.mobile-menu {
    display: none;
    background-color: white;
    overflow: visible;
    height: auto;
    width: 100%;
}
.mobile-menu a{
    float: left;
    text-align: center;
    padding: 20px;
	font-size: 60px;
    font-family: FIFA16;
    width: 100%;
    color: #0D2D5B;
    border: solid rgba(128, 128, 128, 0.11) 1px;
}

/* Button button */
.button {
	display: inline-block;
    background-color: white;
    overflow: visible;
    height: 60px;
	width: auto;
    overflow: hidden; /*laat troep wat mooier lijken*/
}
.button a{
    float: left;
    text-align: center;
    padding: 20px;
    height: 100%;
    font-size: 20px;
    font-family: FIFA16;
    color: #0D2D5B;
}
.button>a:hover {
	background-color: #000000;
	color: white;
}

.dropdownButton{
    display: none;
}
.text{
  padding-left: 20px;
}
* {
  text-decoration: none;
}

@media only screen and (max-width: 800px), (-moz-touch-enabled: 1), (pointer:coarse) {
    .text{
        font-size: 40px;
    }

}
@media only screen and (max-width: 800px), (-moz-touch-enabled: 1), (pointer:coarse) {
    .button{
        display: none;
    }
    .dropdownButton{
        display: inline-block;
        width: auto;
        height: 10vh;
    }
}


.hanzeLogo{
    min-height: 60px;
    height: 60px;
    max-height: 10vh;
}

@media only screen and (max-width: 800px), (-moz-touch-enabled: 1), (pointer:coarse) {
    .hanzeLogo{
        min-height: 16px;
        display: inline-block;
        width: auto;
        height: 10vh;
    }
}

/* Blue maakt witte tekst */
.blueBanner{
    background-color: #0D2D5B;
    height: auto;
    font-size: 64px;
    font-family: FIFA16;
    letter-spacing: 8px;
    color: white;
    padding: 30px;
    max-width: 100%;
    min-width: 400px;
}

@media only screen and (max-width: 800px), (-moz-touch-enabled: 1), (pointer:coarse) {
    .blueBanner{
        padding: 20px;
        font-size: 10vw;
        letter-spacing: 0px;
        width: 100%;
        overflow: hidden;
    }
}
.profileRank{
  font-size: 70;
}
.profileBig{
  font-size: 26px;

}
.profile{
  font-size: 18px;
  width: 28vw;
}
.leaderboardDiv{
  margin: 40px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.30);

}
.leaderboard{
  font-size: 26px;
}
.cards{
  height: 30px;
}
.leaderboardTekst{
  font-size: 44px;
  height: 44px;
}
@media only screen and (max-width: 800px), (-moz-touch-enabled: 1), (pointer:coarse) {
    .leaderboard{
      font-size: 4vw;
    }
    .leaderboardTekst{
      font-size: 6vw;
      height: 6vw;
    }
    .cards{
      height: 5vw;
    }
    .leaderboardDiv{
      margin: 0px;
      margin-top: 40px;
      min-width: 400px;
    }
    .profile{
      font-size: 3vw;
    }
    .profileBig{
      font-size: 3vw;
    }
    .profileRank{
      font-size: 10vw;
    }
}
